@{
    ViewBag.Title = "Facebook Login";
}

<h2>Facebook Login</h2>

@* Add button or link to initiate Facebook login process *@

@Html.ActionLink("Login with Facebook", "FacebookLogin", "Auth", null, new { @class = "btn btn-primary" })
